[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
tqdm = "*"
requests = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
isort = "*"
cx-freeze = "*"
colorama = "*"
sanitize-filename = "*"
python-xmp-toolkit = "*"

[dev-packages]

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
